<!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <div class="logo me-auto">
        <h1><a><%= link_to 'Machine', root_path, class: "nav-link scrollto" %></a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>        
          <% if admin_signed_in? %>
              <li class="nav-item dropdown-right">
                <%= link_to 'Category', admin_categories_path, class: "nav-link scrollto" %>
              </li>
              <li class="nav-item dropdown-right">
                <%= link_to 'Product', admin_products_path, class: "nav-link scrollto" %>
              </li>
              <li class="dropdown"><a href="javascript:void();"><span>Account</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li>                
                    <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "dropdown-item text-primary"%>
                  </li>
                </ul>
              </li>
            <% else %>
              <li>
                <%= link_to 'Product', admin_products_get_product_page_path, class: 'nav-link scrollto' %>
              </li>
              <li class="nav-item dropdown-right">
                <%= link_to 'Login', new_admin_session_path, class: "nav-link scrollto" %>
              </li>
              <li>
                <%= link_to 'Sign Up', new_admin_registration_path, class: "nav-link scrollto" %>
              </li>
            <% end %>
          </ul>
      </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->