<div class="content">
  <div class="sub_box">
    <div class="wrap">
      <div class="col text-center text-uppercase">
        <h3>Products</h3>
      </div><br />
      <%= form_tag admin_products_get_product_page_path, method: :get do %>
        <div class="row justify-content-md-center">
          <div class="col-5 search-text">
            <%= text_field_tag "name", params[:name], class: "form-control col-md-3 mr-1", placeholder: "Search" %>
          </div>
          <div class="col-4 search-product">
            <%= button_tag 'Serach', class: "btn btn-outline-secondary", toggle: 'tooltip', placement: 'top', title: 'Search Here' do %>
              <i class="bi bi-search" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %><br />
      <div class="ProductA">
        <div class="pr_box">
          <ul class="clearfix">
            <% @products.each do | product | %>
              <li>
                <%= link_to admin_product_path(:id => product.id), :name => product.name do %>
                  <% if product.image.attached? %>
                    <div class="pr_img">
                      <%= image_tag(product.image, :alt => product.name, :style => "margin-left: auto;margin-right: auto;", class: 'card-impr_imgg-top') %>
                    </div>
                  <% end %>
                <% end %>
                <div class="pr_txt text-center text-capitalize text-dark">
                  <%= product.name %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="pagination justify-content-center">
        <%= paginate @products, theme: 'bootstrap-5', pagination_class: "pagination-sm", nav_class: "d-inline-b" %>
      </div>
    </div>
  </div>
</div>