<section class="elements-section-show">
  <div class="container">
    <div class="row-center">
      <div class="col">
        <div class="card my-3 shadow">
          <div class="card-body">
            <div class="row">
              <div class="col"> 
                <h3> Product Details </h3>
              </div>
              <div class="col-md-1 text-right">
                <div class="col-md-12 text-right">
                  <% if admin_signed_in? %>
                    <%= link_to admin_products_path, class: "btn btn-outline-primary", toggle: 'tooltip', placement: 'top', title: 'Back' do %>
                      <i class='fa fa-arrow-left' aria-hidden='true'></i>
                    <% end %>
                  <% else %>
                    <%= link_to admin_products_get_product_page_path, class: "btn btn-outline-primary", toggle: 'tooltip', placement: 'top', title: 'Back' do %>
                      <i class='fa fa-arrow-left' aria-hidden='true'></i>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <dl class="row">
              <dt class="col-sm-3">
                Product name:
              </dt>
              <dd class="col-sm-9">
                <%= @product.name %>
              </dd>
              <dt class="col-sm-3">
                Description:
              </dt>
              <dd class="col-sm-9">
                <%= @product.description %>
              </dd>
              <dt class="col-sm-3">
                Product image:
              </dt>
              <dd class="col-sm-9">
                <% if @product.image.attached? %>
                  <%= image_tag @product.image, :size => "500x350" %>
                <% end %>
              </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>